name: Verification Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: '^1.17' # The Go version to download (if necessary) and use.
    - name: build go module
      run: make && zip --junk-paths k6.zip k6
    - uses: actions/upload-artifact@v3
      with:
        name: k6.zip
        path: k6.zip
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Set outputs for docker build
      id: vars
      run: |
        echo "image_name=ghcr.io/${{ github.repository }}" >> $GITHUB_OUTPUT
        echo "image_tag=$(git rev-parse --short HEAD)-${{ github.run_id }}" >> $GITHUB_OUTPUT
    - name: Login to GitHub Container Registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
    - name: Build Docker image for verification
      #if: ${{ github.ref_name != github.event.repository.default_branch }}
      uses: docker/build-push-action@v4
      with:
        context: .
    - name: Build Docker image and push to GitHub Container Registry
      uses: docker/build-push-action@v4
      #if: ${{ github.ref_name == github.event.repository.default_branch }}
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.vars.outputs.image_name }}:latest, ${{ steps.vars.outputs.image_name }}:${{ steps.vars.outputs.image_tag }}